.ball01{
    -fx-background-color: #1890FF;
    -fx-border-color: #1890FF;
    -fx-border-width:1;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}
.ball02{
    -fx-border-width:1;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-pref-height: 60;
    -fx-pref-width: 60;
    -fx-border-style: solid;
    -fx-border-color: rgba(0, 0, 0, 0.80);
}

.ball_text01{
    -fx-text-fill: #FFF;
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}
.ball_text02{
    -fx-text-fill: rgba(0, 0, 0, 0.80);
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
}

.hline{
    -fx-max-height: 4;
    -fx-min-height: 4;
    -fx-pre-height: 4;
    -fx-pref-width: 170 ;
    /*-fx-background-color: #F7F7F7;*/
    -fx-background-color: red;
}
.steps_bg{
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
}
.steps_sm{
    -fx-font-size: 0.8em;
}

.text-area{
    -fx-font-size: 1.2em;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}

.combo-box{
    -fx-font-size: 1.2em;
    -fx-background-insets: 0;
    -fx-background-color: transparent, rgba(0, 0, 0, 0.04), transparent, rgba(0, 0, 0, 0.04);
}

.combo-box.content {
    -fx-background-color: transparent, rgba(0, 0, 0, 0.04), transparent, rgba(0, 0, 0, 0.04);
}

.combo-box:focused {
    -fx-background-color: transparent, rgba(0, 0, 0, 0.04), transparent, rgba(0, 0, 0, 0.04);
}

/*Button样式*/
.btn {
    -fx-font-weight: normal;
    -fx-text-alignment: center;
    -fx-cursor: default;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-background-insets: 0, 0, -1, 0;
    -fx-padding: 6px 12px 6px 12px;
    -fx-font-size: 14px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-min-width: 80;
}
/*紫色颜色按钮*/
.btn-primary {
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-background-color: #4b4cdc;
    -fx-border-color: #5152DC;
}