
.noBorder{
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: #ffffff;
}

.itemFont{
    -fx-cursor: hand;
    -fx-font-size: 1.3em;
    -fx-font-family: SimSun-ExtB;
}

.headerFont{
    -fx-font-size: 1.6em;
    -fx-font-family: SimSun-ExtB;
}

#content{
    -fx-effect: dropshadow(three-pass-box,#d7e4f7, 4.5,0, 0, 0);
}




