.button1{
    -fx-font-size: 1.0em;
    -fx-font-family: SimSun-ExtB;
    /*-fx-background-color: #3333cc;*/
    -fx-text-fill: #ffffff
}

.button2{
    -fx-font-size: 1.0em;
    -fx-font-family: SimSun-ExtB;
    -fx-background-color: transparent
}

.button1:hover,.button1:focused{
    /*-fx-background-color: #3333cc;*/
    -fx-cursor: hand;
}
.button2:hover,.button2:focused{
    -fx-cursor: hand;
    -fx-background-color: transparent
}

.fontText{
    -fx-font-size: 1.2em;
    -fx-font-family: SimSun-ExtB
}